<a href="https://colab.research.google.com/github/SyedaEman002/Figma-Design/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                #Basic List Operations
#1. Create a list of five numbers and append a new number to it. Print the updated list.
Number = [1,2,3,4,5]
Number.append(6)
print(Number)

[1, 2, 3, 4, 5, 6]

In [ ]:

#2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].
languages = ["Java", "C++", "Javascript", "Ruby"]
languages.insert(2,"Python")
print(languages)

['Java', 'C++', 'Python', 'Javascript', 'Ruby']

In [ ]:
#4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].
list = [10,20,30,10,40]
list.remove(10)
print(list)

[20, 30, 10, 40]

In [ ]:
#5. Use the pop() method to remove the last element from [100, 200, 300, 400] and
#print the modified list.
numbers = [100, 200, 300, 400]
numbers.pop()

print(numbers)

[100, 200, 300]

In [ ]:
                  #INTERMEDIATE LIST OPERATIONS
#6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].
numbers =[5,10,5,20,5,30]
numbers = numbers.count(5)

print(numbers)

3

In [ ]:
#7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order
numbers = [9, 1, 8, 3, 5]
numbers.sort()
print("Ascending:", numbers)

Ascending: [1, 3, 5, 8, 9]

In [ ]:
#8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.
fruits = ["apple", "banana","cherry"]
fruits.reverse()
print("reverse",fruits)

reverse ['cherry', 'banana', 'apple']

In [ ]:
#9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
#copied list and print both lists.
numbers = [1, 2, 3, 4, 5]
copied = numbers.copy()

copied.append(6)
print("Original List:", numbers)
print("Copied List:", copied)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

In [ ]:
#10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
#method
elements = ["hello","world","python"]
elements.clear()
print(elements)

[]

In [ ]:
                      #TUPLE-BASED QUESTIONS
#11. Create a tuple with 5 different fruits and print the third fruit
fruits = ("Apple", "Banana", "Mango", "Orange", "Grapes")
print("Third fruit:", fruits[2])

Third fruit: Mango