<a href="https://colab.research.google.com/github/SyedaEman002/Figma-Design/blob/main/TuplesAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print("Updated list:", numbers)
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Extended list:", list1)
languages = ["Java", "C++", "JavaScript", "HTML"]
languages.insert(2, "Python")
print("Updated languages list:", languages)
nums = [10, 20, 30, 10, 40]
nums.remove(10)
print("List after removing first occurrence of 10:", nums)

values = [100, 200, 300, 400]
values.pop()
print("List after pop:", values)

Updated list: [1, 2, 3, 4, 5, 6]
Extended list: [1, 2, 3, 4, 5, 6]
Updated languages list: ['Java', 'C++', 'Python', 'JavaScript', 'HTML']
List after removing first occurrence of 10: [20, 30, 10, 40]
List after pop: [100, 200, 300]

In [ ]:
# 6. Count occurrences of the number 5
numbers = [5, 10, 5, 20, 5, 30]
count_5 = numbers.count(5)
print("Count of 5:", count_5)

# 7. Sort the list in ascending and descending order
num_list = [9, 1, 8, 3, 5]
ascending = sorted(num_list)
descending = sorted(num_list, reverse=True)
print("Ascending order:", ascending)
print("Descending order:", descending)

# 8. Reverse the list using reverse()
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print("Reversed list:", fruits)

# 9. Create a copy of a list and modify the copied list
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
copied_list.append(6)
print("Original list:", original_list)
print("Modified copied list:", copied_list)

# 10. Clear all elements from a list using clear()
words = ["hello", "world", "python"]
words.clear()
print("Cleared list:", words)

Count of 5: 3
Ascending order: [1, 3, 5, 8, 9]
Descending order: [9, 8, 5, 3, 1]
Reversed list: ['cherry', 'banana', 'apple']
Original list: [1, 2, 3, 4, 5]
Modified copied list: [1, 2, 3, 4, 5, 6]
Cleared list: []

In [ ]:
# 11. Create a tuple with 5 different fruits and print the third fruit
fruits = ("apple", "banana", "cherry", "orange", "grape")
print("Third fruit:", fruits[2])

# 12. Convert tuple to list, remove 30, convert back to tuple
numbers_tuple = (10, 20, 30, 40, 50)
numbers_list = list(numbers_tuple)
numbers_list.remove(30)
modified_tuple = tuple(numbers_list)
print("Modified tuple:", modified_tuple)

# 13. Try to append an element to the tuple
letters_tuple = ("A", "B", "C")
# letters_tuple.append("D")

# Indirect way to modify a tuple (convert to list, modify, and convert back)
letters_list = list(letters_tuple)
letters_list.append("D")
modified_tuple = tuple(letters_list)
print("Modified tuple:", modified_tuple)

# 14. Unpack the tuple into three variables
numbers = (100, 200, 300)
a, b, c = numbers
print("Unpacked values:", a, b, c)

# 15. Count occurrences of 7 in the tuple
num_tuple = (7, 1, 7, 3, 7, 5)
count_7 = num_tuple.count(7)
print("Occurrences of 7:", count_7)

Third fruit: cherry
Modified tuple: (10, 20, 40, 50)
Modified tuple: ('A', 'B', 'C', 'D')
Unpacked values: 100 200 300
Occurrences of 7: 3

In [ ]:
# 16. Function to remove even numbers from a list
def remove_evens(lst):
    return [num for num in lst if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print("List without evens:", remove_evens(numbers))

# 17. Function to sort a list in descending order without using sort()
def custom_sort_desc(lst):
    sorted_list = []
    while lst:
        max_value = max(lst)
        sorted_list.append(max_value)
        lst.remove(max_value)
    return sorted_list

numbers = [4, 1, 8, 3, 6]
print("Sorted in descending order:", custom_sort_desc(numbers))


# 18. Remove duplicates from a list
def remove_duplicates(lst):
    return list(set(lst))

numbers = [10, 20, 30, 10, 40, 20, 50]
print("Unique elements:", remove_duplicates(numbers))


# 19. Convert tuple to list, remove duplicates, convert back to tuple
names_tuple = ("Alice", "Bob", "Charlie", "Alice", "David")
unique_names_list = list(set(names_tuple))  #
unique_names_tuple = tuple(unique_names_list)
print("Unique names tuple:", unique_names_tuple)


# 20. Separate different data types from a mixed list
def separate_data_types(mixed_list):
    integers = [x for x in mixed_list if isinstance(x, int)]
    strings = [x for x in mixed_list if isinstance(x, str)]
    floats = [x for x in mixed_list if isinstance(x, float)]
    return integers, strings, floats

mixed_data = [10, "hello", 3.14, 20, "world", 2.71, 42, "Python"]
integers, strings, floats = separate_data_types(mixed_data)
print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

List without evens: [1, 3, 5, 7]
Sorted in descending order: [8, 6, 4, 3, 1]
Unique elements: [40, 10, 50, 20, 30]
Unique names tuple: ('Charlie', 'Alice', 'David', 'Bob')
Integers: [10, 20, 42]
Strings: ['hello', 'world', 'Python']
Floats: [3.14, 2.71]